//my colors

@pink: 			#E91E63;
@dark-pink: 	#E91E63;
@purple:        #9C27B0;
@sky-blue:		#BBDEFB;
@cyan:			#00BCD4;
@yellow:		#FFEB3B;
@light-green:	#8BC34A;
@green:			#4CAF50;
@amber:			#FFC107;
@black:			#424242;
@grey: 			#9E9E9E;
@white:			#F5F5F5;
@light-grey:	#BDBDBD;
@blue-grey:		#ECEFF1;
@blue-grey-dark: #607D8B;

@headlineFontFamily:    Bree Serif;
@copyFontFamily:		Merriweather;

h1,h2,h3,h4,h5,h6{
	font-family: @headlineFontFamily;
	color: @black;
}

body{
	background: @light-grey;
	margin-top: 30px;
}

p{
	font-family: @copyFontFamily;
	font-size:1.1em;
	line-height:1.4em;
	color: @blue-grey-dark;
	padding: 0 2%;
}

.container{
	background: @blue-grey;
	-webkit-border-radius: 60px 0 0 0;
	-moz-border-radius: 60px 0 0 0;
	border-radius: 60px 0 0 0;

	@media (max-width: 767px){
	background: @blue-grey;
	-webkit-border-radius: 60px 0 0 0;
	-moz-border-radius: 60px 0 0 0;
	border-radius: 60px 0 0 0;

	}
}

.main{
	background: @blue-grey;
}

.navbar{
	margin-bottom: 0;
	border-right: none;
	border-left: none;
	border-radius: 0;
}
.carousel{

	margin-bottom: 0;
	-webkit-border-radius: 20px 20px;
	-moz-border-radius: 20px 20px;
	border-radius: 20px 20px;

}

.main>article{
	margin: 0 5%;

}

.sidebar>aside{
	padding-right:5%;
	@media (max-width: 767px){
	padding-left:5%;
	}

}

aside{
	h2{
	font-size: 1.8em;
	color: @pink;
	
	}
}

#branding{
	img{
	margin: 0px 0px 5px 15px;
	max-width: 400px;
	@media(max-width:767){
		margin: 0px 0px 5px 15px;
		width: 90%;
	}
	}
}

.accordion-heading{
	a{
	color: @pink;
	}
}

aboutthevenue{
	artcle{
		margin:0;
		padding:0;
	}
	h2{
		padding:0;
		padding-bottom:0;
		

	}
}



































